@model Contact
@{
    ViewData["Title"] = "Home Page";
}
<h2>Szczegóły Kontaktu</h2>
<dl class="dl-horizontal">
    <dt>Imię</dt>
    <dd>@Model.Name</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Email</dt>
    <dd>@Model.Email</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Numer telefonu</dt>
    <dd>@Model.Phone</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Data urodzin</dt>
    <dd>@Model.Birth</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Priorytet</dt>
    <dd>@Model.Priority</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Organizacja</dt>
    <dd>@Model.OrganizationList</dd>
</dl>
<dl class="dl-horizontal">
    <dt>Utoworzono:</dt>
    <dd>@Model.Created</dd>
</dl>

@*<p>Utworzono: @Model.Created</p>*@


<div class="mb-3">
    <a class="btn btn btn-primary" asp-controller="Contact" asp-action="Index">Powrót</a>
</div>
