@model Computer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<style>

    body {
        font-family: sans-serif;
        background-color: #f8f8f8;
        margin: 0; 
        padding: 0;
        min-height: 100vh; 
        display: flex;
        flex-direction: column;
    }

    h2 {
        
        margin-left: 200px
    }

    .container {
        position: relative;
        overflow: hidden;
        width: 700px;
        height: 600px;
        margin: 40px auto 0;
        background-color: white;
        
    }

    .btn.btn-primary {
        background-color: black;
        margin-left: 250px;
        
    }

    .a:active {
        background-color: white;
    }

    .btn.btn-primary:hover {
        background-color: black;
    }

    .btn.btn-primary a {
        color: white; 
        text-decoration: none; 
        display: block; 
        padding: 10px 20px; 
    }
</style>

<h2>Szczegóły Komputera</h2>
<hr />

<div>
    <dl class="dl-horizontal">
        <dt>Nazwa</dt>
        <dd>@Model.Name</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Procesor</dt>
        <dd>@Model.Processor</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Pamięć</dt>
        <dd>@Model.Memory</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Karta Graficzna</dt>
        <dd>@Model.GraphicsCard</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Producent</dt>
        <dd>@Model.Producer</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Data Produkcji</dt>
        <dd>@Model.DateOfProduction</dd>
    </dl>
    <dl class="dl-horizontal">
        <dt>Status</dt>
        <dd>@Model.Status</dd>
    </dl>
    <hr />

</div>

<p class="btn btn-primary">
    
    <a asp-action="Index">Powrót do listy</a>
    <hr />
</p>
