@model Dictionary<int, Computer>
@{

}
<h1>Lista komputerów</h1>
<a class="btn btn-primary" asp-controller="Computer" asp-action="Create">Utwórz komputer</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Nazwa
            </th>
            <th>
                Procesor
            </th>
            <th>
                Pamięć
            </th>
            <th>
                Karta Graficzna
            </th>
            <th>    
                Producent
            </th>
            <th>    
                Data Produkcji
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in @Model)
        {
            <tr>
                <td>
                    @item.Value.Name
                </td>
                <td>
                    @item.Value.Processor
                </td>
                <td>
                    @item.Value.Memory
                </td>
                <td>
                    @item.Value.GraphicsCard
                </td>
                <td>
                    @item.Value.DateOfProduction
                </td>
                <td>
                    <a class="btn btn-outline-primary" asp-controller="Computer" asp-action="Update" asp-route-id="@item.Key">Edytuj</a>
                    <a class="btn btn-outline-info" asp-controller="Computer" asp-action="Details" asp-route-id="@item.Key">Szczegóły</a>
                    <a class="btn btn-outline-danger" asp-controller="Computer" asp-action="Delete" asp-route-id="@item.Key">Usuń</a>


                </td>
            </tr>
        }
    </tbody>
</table>

