@model List<Computer>
@{

}

<style>

    body {
        font-family: sans-serif;
        background-color: #f8f8f8;
    }

    h1 {
        display: flex;
        margin-left: 500px
        
    }

    .container {
        position: relative;
        overflow: hidden;
        width: 1700px;
        height: 700px;
        margin: 40px auto 0;
        background-color: white;
    }

    .btn.btn-primary {
        background-color:black;
        margin-left: 560px
    }
    .a:active {
        background-color: black;
    }

   

    .form-check-input {
        background-color: black;
    }

</style>
<h1>Lista komputerów</h1>
<a class="btn btn-primary" asp-controller="Computer" asp-action="Create">Utwórz komputer</a>
@if (Model.Count > 0)
{
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => Model[0].Name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].Processor)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].Memory)
                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].GraphicsCard)

                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].Producer)

                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].DateOfProduction)

                </th>
                <th>
                    @Html.DisplayNameFor(model => Model[0].Status)
                
                </th>
                
               
                <th>
                    Akcje
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in @Model)
            {
                <tr>
                    <td>
                        @item.Name
                    </td>
                    <td>
                        @item.Processor
                    </td>
                    <td>
                        @item.Memory
                    </td>
                    <td>
                        @item.GraphicsCard
                    </td>
                    <td>
                        @item.Producer
                    </td>
                    <td>
                        @item.DateOfProduction
                    </td>
                    <td>
                        @item.Status.GetDisplayName()
                    </td>
                   
                    <td>
                        <a class="btn btn-outline-primary" asp-controller="Computer" asp-action="Update" asp-route-id="@item.Id">Edytuj</a>
                        <a class="btn btn-outline-info" asp-controller="Computer" asp-action="Details" asp-route-id="@item.Id">Szczegóły</a>
                        <a class="btn btn-outline-danger" asp-controller="Computer" asp-action="Delete" asp-route-id="@item.Id">Usuń</a>


                    </td>
                </tr>
            }
        </tbody>
    </table>
}

